
.cartTable {
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    .trashIcon {
        width: 30px !important;
         &:hover {
        cursor: pointer;
    }
    }
    
    .cartItemImage {
    width: 7rem;
}
}
.btn-compra {
    background: #BDA388 !important;
    border:#BDA388;
    &:hover {
        background: #af967a !important;
    }
}