.itemDetail {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    .itemDetailImg {
        width: 50%;
        margin: auto;
    }
    .btn-primary {
        background: #BDA388 !important;
        border:#BDA388;
        &:hover {
            background: #af967a !important;
        }
    }
}

