.nav-link, .navbar-brand {
    color: #F8F9FA !important;
    
}
.navbar-brand {
    margin-left: 1.5rem !important;
}

.navbar-nav {
    margin-left: 2rem !important; 
    .nav-link {
        margin-left: 1rem !important;
    }
}