.navbar {
  background: #000000 !important;
  font-size: 17px !important;
}

.navbar .nav-link, .navbar .navbar-brand {
  color: #F8F9FA !important;
}

.navbar .nav-link:hover, .navbar .navbar-brand:hover {
  color: grey;
}

.navbar .navbar-brand {
  margin-left: 1.5rem !important;
}

.navbar .navbar-brand .nav-brand-link {
  font-size: 22px !important;
  -webkit-box-shadow: grey !important;
          box-shadow: grey !important;
}

.navbar .cart-link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar .cartNavContainer {
  margin-right: 1.5rem !important;
}

.navbar .cartNavContainer .cartNavIcon {
  color: #F8F9FA !important;
  height: 2rem !important;
}

.navbar .cartNavContainer .cartBadge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.navbar .cartNavContainer .cartBadge span {
  font-size: 14px;
  background: #BDA388;
  color: #F8F9FA;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -12px;
  border-radius: 9px;
}

@media (max-width: 768px) {
  .cartNavContainer {
    display: none;
  }
}

.card {
  width: 18rem !important;
  position: relative !important;
  display: inline-block !important;
  height: auto !important;
  text-align: center;
  border-radius: 5px !important;
  -webkit-transition: .8s;
  transition: .8s;
  cursor: pointer;
}

.card::after {
  content: "" !important;
  border-radius: 5px !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  -webkit-box-shadow: 5px 5px 2px black !important;
          box-shadow: 5px 5px 2px black !important;
  opacity: 0 !important;
  -webkit-transition: .8s;
  transition: .8s;
}

.card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card:hover::after {
  opacity: 1;
}

.card .card-title, .card .card-text {
  color: black !important;
}

.card .card-title .card-title, .card .card-text .card-title {
  font-weight: bold;
}

.card .btn-primary {
  background: #BDA388 !important;
  border: #BDA388;
}

.card .btn-primary:hover {
  background: #af967a !important;
}

.itemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemDetail .itemDetailImg {
  width: 50%;
  margin: auto;
}

.itemDetail .btn-primary {
  background: #BDA388 !important;
  border: #BDA388;
}

.itemDetail .btn-primary:hover {
  background: #af967a !important;
}

.itemList {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.cartTable {
  width: 60%;
  margin: auto;
  margin-top: 5rem;
}

.cartTable .trashIcon {
  width: 30px !important;
}

.cartTable .trashIcon:hover {
  cursor: pointer;
}

.cartTable .cartItemImage {
  width: 7rem;
}

.btn {
  background: #BDA388 !important;
  border: #BDA388;
}

.btn:hover {
  background: #af967a !important;
}

.btn-outline-primary {
  background: #BDA388 !important;
  border: #BDA388;
  color: #F8F9FA;
}

.btn-outline-primary:hover {
  background: #af967a !important;
}

.spinner-container {
  margin-top: 40vh;
}

.spinner-container .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */